{% extends 'base.html' %}
{% block title %}
    注册
{% endblock %}

{% block login_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="box" action="{% url 'register' %}" method="POST">
                    <h1>register</h1>
                    {% csrf_token %}
                    {% for field in register_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}
                    <span class="pull-left text-danger">{{ reg_form.non_field_errors }}</span>
                    <div class="clearfix"></div>
                    <button type="button" name="send_code" id="send_code" class="btn btn-primary pull-left">发送验证码
                    </button>
                    <input type="submit" value="注册" class="btn btn-primary pull-right center-block">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_expend %}
    <script type="text/javascript">
        $('#send_code').click(function () {
            var email = $('#id_email').val();
            {#发送验证码#}
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'register_code',
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'ERROR') {
                        alert(data['status']);
                    }
                }
            });

            {#发送成功后60秒内不能再次点击发送按钮#}
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 60;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0
        )
            {
                clearInterval(interval);
                $(this).removeClass('disabled');
                $(this).attr('disabled', false);
                $(this).text('发送验证码');
                return false;
            }

            time--;
            $(this).text(time + 's');
        },
            1000
        )
            ;
        })

    </script>
{% endblock %}

