html{
    height:90%;
}
body{
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
    background: #34495e;
}

*{
    list-style-type: none;
}

ul.navbar-right{
    margin-right: 0;
}