{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}
关于
{% endblock %}

{% block about_active %}
active
{% endblock %}


{% block content %}
    <div class="box_about center-block">
			<img src="{% static "image/profile.jpg" %}" alt="" class="box_about-img" />
			<h1>Golor</h1>
			<h5>Personal Blog - Graduation Project;</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem laboriosam nesciunt voluptatibus minima
				ipsa architecto delectus at veritatis repudiandae quasi? Expedita ad nostrum at.
			</p>
			<ul>
				<li>
					<a href="https://public-1256942570.cos.ap-chengdu.myqcloud.com/qrcode.jpg"
						><i class="fab fa-weixin"></i
					></a>
				</li>
				<li>
					<a href="tencent://message/?uin=1045132383&Site=&Menu=yes"
						><i class="fab fa-qq"></i
					></a>
				</li>
				<li>
					<a href="https://github.com/Golorcsh/mysite"><i class="fab fa-github"></i></a>
				</li>
			</ul>
		</div>
{% endblock%}

