{% extends 'base.html' %}
{% block title %}
    主页
{% endblock %}
{% block home_active %}
    active
{% endblock %}



{% block content %}
    <div class="container">

        <div class="col-lg-10 col-lg-offset-1">
            <div class="jumbotron">
                <h1>Hello, {{ user }}欢迎来到我的网站！</h1>
                <p></p>
                <p><a class="btn btn-primary btn-lg pull-right" href="{% url 'blog_list' %}" role="button">了解更多</a></p>
            </div>

        </div>
    </div>


{% endblock %}

